<% flash.reject { |k, v| v.blank? }.each do |type, message| %>
  <div class="alert alert-<%= type %> alert-dismissable">
    <button class="close" data-dismiss="alert" aria-label="close">
      <span aria-hidden="true">&times;</span>
    </button>

    <%= message %>
  </div>
<% end %>
