!!!
%html
  %head
    %title Zangetsu
    = stylesheet_link_tag 'application', :media => 'all', :'data-turbolinks-track' => true
    = javascript_include_tag 'application', :'data-turbolinks-track' => true
  %body
    = yield
